sopeduc-ear/.settings
sopeduc-ear/.project
sopeduc-ear/.settings/org.eclipse.wst.common.component
sopeduc-services/.project
sopeduc-services/.classpath
sopeduc-services/.settings/org.eclipse.wst.common.component
sopeduc-resources/.classpath
sopeduc-wsclient/.classpath
sopeduc-wsclient/.settings/org.eclipse.wst.common.component
sopeduc-resources/.settings/org.eclipse.wst.common.component
*/.project
*/.settings
*/.classpath
