sopeduc-ear/.settings/
sopeduc-services/.settings/
sopeduc-core/.settings/
sopeduc-resources/.settings/
sopeduc-wsclient/.settings/
sopeduc-wsserveur/.settings/
sopeduc-wb/.settings/
sopeduc-ear/.project
sopeduc-services/.project
sopeduc-core/.project
sopeduc-resources/.project
sopeduc-wsclient/.project
sopeduc-wsserveur/.project
sopeduc-web/.project
sopeduc-wsserveur/.classpath
sopeduc-web/.classpath
sopeduc-core/.classpath
sopeduc-ear/.classpath
sopeduc-services/.classpath
sopeduc-resources/.classpath
sopeduc-wsclient/.classpath
