modules/sopeduc-web/target/**/*
modules/sopeduc-wsserveur/target/**/*
modules/sopeduc-wsclient/target/**/*
modules/sopeduc-core/target/**/*
modules/sopeduc-ear/target/**/*
modules/sopeduc-services/target/**/*
modules/sopeduc-resources/target/**/*
modules/sopeduc-web/.settings/**/*
modules/sopeduc-wsserveur/.settings/**/*
modules/sopeduc-wsclient/.settings/**/*
modules/sopeduc-core/.settings/**/*
modules/sopeduc-ear/.settings/**/*
modules/sopeduc-services/.settings/**/*
modules/sopeduc-resources/.settings/**/*
modules/sopeduc-web/.classpath
modules/sopeduc-wsserveur/.classpath
modules/sopeduc-wsclient/.classpath
modules/sopeduc-core/*.classpath
modules/sopeduc-ear/.classpath
modules/sopeduc-services/.classpath
modules/sopeduc-resources/.classpath
modules/sopeduc-web/src/main/webapp/META-INF/**/*
